    <div id="layoutSidenav">

	          <div id="layoutSidenav_content">
    
 
		   <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Orders</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Orders</li>
                        </ol>
                        <div class="row justify-content-between">
							<div class="col-lg-3 col-md-4">
								<div class="bulk-section mb-30">
									<div class="input-group">
										<select id="action" name="action" class="form-control">
											<option selected>Bulk Actions</option>
											<option value="1">Pending</option>
											<option value="2">Cancel</option>
											<option value="3">Process</option>
											<option value="4">Complete</option>
											<option value="5">Delete</option>
										</select>
										<div class="input-group-append">
											<button class="status-btn hover-btn" type="submit">Apply</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-6">
								<div class="bulk-section mb-30">
									<div class="search-by-name-input">
										<input type="text" class="form-control" placeholder="Search">
									</div>
									<div class="input-group">
										<select id="categeory" name="categeory" class="form-control">
											<option value="1">Pending</option>
											<option value="2">Cancel</option>
											<option value="3">Process</option>
											<option value="4">Complete</option>
										</select>
										<div class="input-group-append">
											<button class="status-btn hover-btn" type="submit">Search Order</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>All Orders</h4> 
									</div>
									<div class="card-body-table">
										<div class="table-responsive">
											<table class="table ucp-table table-hover">
												<thead>
													<tr>
														<th style="width:60px"><input type="checkbox" class="check-all"></th>
														<th style="width:130px">Order ID</th>
														<th>Item</th>
														<th style="width:200px">Date</th>
														<th style="width:300px">Address</th>
														<th style="width:130px">Status</th>
														<th style="width:130px">Total</th>
														<th style="width:100px">Action</th>
													</tr>
												</thead>
												<tbody>
													<%for(var i=0;i<order.length;i++){%>
													<% for(var j=0;j<order[i].items.length;j++) {%>
													<tr>
														<td><input type="checkbox" class="check-item" name="ids[]" value="4"></td>
														<td><%=order[i].items[j].orderId%></td>
														<td>
															<a href="#" target="_blank"><%=order[i].items[j].productId.productname%></a>
														</td>
														<td>
															<span class="delivery-time"><%= order[i].items[j].date.toString().substring(0,15) %></span>
															<span class="delivery-time"><%= order[i].items[j].date.toString().substring(15,25) %></span>
														</td>
														<td><%=order[i].items[j].address%></td>
														<td>
															<span class="badge-item badge-status">Pending</span>
														</td>
														<td>Rs<%=order[i].items[j].productId.discountmrp *order[i].items[j].qty %></td>
														<td class="action-btns">
															<a href="/admin/order-view/<%=order[i].id%>/<%= j %>" class="views-btn"><i class="fas fa-eye"></i></a>
															
														</td>
													</tr>
													<%}%>
													<%}%>
													
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
           </div>
    </div>