               <div id="layoutSidenav">

	          <div id="layoutSidenav_content">
    
			 <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Shops</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin//shops">Shops</a></li>
                            <li class="breadcrumb-item active">Shop view</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shop-content-left pd-20">
											<div class="shop_img">
												<img src="/uploads/<%=list.image%>" alt="">
											</div>
											<div class="shop-dt-left">
												<h4><%=list.shopname%></h4>
												<span><%=list.locations%></span>
											</div>
										</div>
									</div>
								</div>
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dt-left">
												<h4><%=list.fullname%></h4>
												<span>Shop Owner</span>
											</div>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Username</span>
													<span class="right-dt"><%=list.username%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Phone</span>
													<span class="right-dt">+91<%=list.phone%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Email</span>
													<span class="right-dt"><%=list.email%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Address</span>
													<span class="right-dt"><%=list.owenraddress%></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dts mt-0">
												<div class="shopowner-dt-list">
													<span class="left-dt">Name :</span>
													<span class="right-dt"><%=list.shopname%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Area</span>
													<span class="right-dt"><%=list.areas%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Location</span>
													<span class="right-dt"><%=list.locations%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Delivery Charge</span>
													<span class="right-dt">Rs<%=list.deliverycharge%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Latitude</span>
													<span class="right-dt"><%=list.latitude%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Longitude</span>
													<span class="right-dt"><%=list.longitude%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Current Status</span>
													<span class="right-dt"><%=list.currentstatus%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Status</span>
													<span class="right-dt"><%=list.status%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Opening Time</span>
													<span class="right-dt"><%=list.openingtime%> AM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Close Time</span>
													<span class="right-dt"><%=list.closingtime%> PM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Address</span>
													<span class="right-dt"><%=list.address%></span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Description</span>
													<span class="right-dt"><%=list.description%></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
	          </div>
               </div>
   