<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gambolthemes.net/html-items/gambo_supermarket_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:06:09 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title><%=settings.siteName%></title>

	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="/uploads/<%= settings.favicon %>">
	
	<!-- Stylesheets user -->
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link href='/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
	<link href="/css/style1.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<link href="/css/night-mode.css" rel="stylesheet">
	<link href="/css/step-wizard.css" rel="stylesheet">
		

	<!-- Vendor Stylesheets -->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
	<link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">

	

</head>

<body>
	<%- include ('partials/header') %>
	   
	<%-body%>
	<%- include ('partials/footer') %>   
	

	<!-- Javascripts user -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="/vendor/semantic/semantic.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/offset_overlay.js"></script>
	<script src="/js/night-mode.js"></script>
	<script src="/js/product.thumbnail.slider.js"></script>
	
	

</body>

<!-- Mirrored from gambolthemes.net/html-items/gambo_supermarket_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:07:25 GMT -->

</html>