<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">User Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-group">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="user-dt">
							<div class="user-img">
								<img src="/uploads/<%=user.images%>" alt="">
								
							</div>
							<h4><%=user.username%></h4>
							<p>+91<%=user.phone%></p>
							<!-- <div class="earn-points"><img src="/images/Dollar.svg" alt="">Points : <span>20</span></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="left-side-tabs">
							<div class="dashboard-left-links">
								<!-- <a href="/dashboard_overview" class="user-item"><i class="uil uil-apps"></i>Overview</a> -->
								<a href="/dashboard_my_orders" class="user-item"><i class="uil uil-box"></i>My Orders</a>
								<!-- <a href="/dashboard_my_rewards" class="user-item"><i class="uil uil-gift"></i>My Rewards</a>
								<a href="/dashboard_my_wallet" class="user-item"><i class="uil uil-wallet"></i>My Wallet</a> -->
								<a href="/dashboard_my_wishlist" class="user-item active"><i class="uil uil-heart"></i>Shopping Wishlist</a>
								<a href="/dashboard_my_address" class="user-item"><i class="uil uil-location-point"></i>My Address</a>
								<a href="/edit-profile" class="user-item"><i class="uil uil-edit"></i>Edit-Profile</a>
								<a href="/logout" class="user-item"><i class="uil uil-exit"></i>Logout</a>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8">
						<div class="dashboard-right">
							<div class="row">
								<div class="col-md-12">
									<div class="main-title-tab">
										<h4><i class="uil uil-heart"></i>Shopping Wishlist</h4>
									</div>
								</div>								
								<div class="col-lg-12 col-md-12">
									<div class="pdpt-bg">
										<div class="wishlist-body-dtt">
											<%for (var i=0;i<favorites.length;i++){%>
											<div class="cart-item">
											
												<div class="cart-product-img">
													<img src="/uploads/<%=favorites[i].images[0]%>" alt="">
													<div class="offer-badge"><%=favorites[i].discount%>% OFF</div>
												</div>
												
												 <div class="cart-text">
													<h4><%=favorites[i].productname%></h4>
													<div class="cart-item-price">Rs<%=favorites[i].discountmrp%> <span>Rs<%=favorites[i].price%></span></div>
													<a type="button" href="/delete/<%= favorites[i].id %> " class="cart-close-btn"><i class="uil uil-trash-alt"></i></a>
												</div>		
											</div>
											<%}%>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</div>	
	</div>
	<!-- Body End -->